body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f4f4f4;
}

/* GLOBAL */

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* HEADER */

.header {
    background-color: #354248;
    color: whitesmoke;
    padding-top: 20px;
    min-height: 90px;
    border-bottom: #CF5718 solid 5px;
}

.navigation {
    float: right;
    margin-top: 20px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    float: left;
    margin: 0 5px;
}

.navigation ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.navigation ul li a:hover {
    color: #CF5718;
    opacity: 0.9;
}

a:active {
    color: #CF5718;
}

.acme {
    color: #CF5718;
}

.logo {
    float: left;
    padding-top: 10px;
}

.logo h1 {
    margin: 0;
}

/* SHOWCASE */

.showcase {
    background: url("../img/showcase.jpg") no-repeat 0 -400px;
    min-height: 500px;
    color: whitesmoke;
    box-sizing: border-box;
    padding: 90px 100px;
    margin: 0 auto;
}

.showcase h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.showcase p {
    text-align: center;
    font-size: 1.5em;
}

/* NEWSLETTER */

.container-newsletter {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #354248;
    padding: 30px 80px;
}

.container-newsletter form {
}

.container-newsletter h1 {
    font-size: 1.8em;
    margin: 0;
}

.button-subscribe {
    background-color: #CF5718;
    border: none;
    font-size: 1em;
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
    height: 50px;
}

.button-subscribe:hover{
    cursor: pointer;
}

.email {
    padding: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 220px;
    font-size: 1.2em;
}

/* BOXES */

.boxes {
    margin-top: 20px;
}

.container-boxes{
    display: flex;
    padding: 30px;
}

.box {
    text-align: center;
    font-size: 1.1em;
}

.box img {
    width: 100px;
}

.footer {
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    background-color: #354248;
}

/* ABOUT US PAGE */

.con-main {
    min-height: 500px;
}

.main-col {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
}

.main-col h1 {
    font-size: 1.7em;
}

.sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #354248;
}

.sidebar h3 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
}

/* FORM */

.services {
    padding-left: 0;
}

.services li {
    list-style: none;
    text-align: center;
    border: solid lightgrey 1px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #C3CECF;
}

textarea, input{
    width: 90%;
}

textarea {
    height: 50px;
}

.button_1 {
    background-color: #CF5718;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    height: 30px;
    width: 80px;
}

.button_1:hover{
    cursor: pointer;
}

/* MEDIA QUERIES */

@media(max-width: 768px){
    header .logo,
    .navigation,
    header .navigation li,
    .newsletter h1,
    .newsletter form ,
    .container-boxes .box,
    .main-col,
    .sidebar
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    .showcase h1{
        margin-top: 0;
    }
    .container-newsletter{
        display: block;
    }
    .container-boxes{
        display: block;
    }
    .container-newsletter input[type='email'],
    .container-newsletter button{
        width: 100%;
        margin-bottom: 3px;
    }
}